<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Android @ Frida-Companion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/basic.css') }}">
</head>
<body>
<div>
    <div class="container-fluid">
        <div><a href="/" class="text-mute fs20" id="menu-toggle">Frida Companion</a></div>
        <div id="err_msg"></div>
        <div>Android</div>
        <button class="btn btn-primary" type="submit" onclick="load_classes()">Show Classes</button>
        <div id="class_names">
            {% include "components/class_list.htm" %}
        </div>
    </div>
</div>
</body>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
<script type="text/javascript" charset="utf-8">
    let socket = io();
    socket.on('connect', function () {
        socket.emit('connected', {data: 'I\'m connected!'});
    });

    socket.on('load_class_response', function (data) {
        console.log("load_class_response");
        console.log(data);
    });


    function load_classes() {
        console.log("load_classes")
        socket.emit("load_classes", {data: ''})
    }

</script>

</html>
