<!DOCTYPE html>
<html lang="EN">

<head>
    <title>Frida Companion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/basic.css') }}">
</head>

<body>

<div>
    <div class="container-fluid">
        <div><a href="/" class="text-mute fs20" id="menu-toggle">Frida Companion</a></div>
        <div id="err_msg"></div>
        <div id="device_list">
            {% for x in device_list %}
            <label>
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                       {% if loop.index== 1 %} checked {% endif %}>{{x.name}}
            </label>
            {% endfor %}
        </div>
        <div>
            <button class="btn btn-secondary" type="button" onclick='refresh_device()'>Refresh</button>
        </div>
        <div class="mt-1">
            <button class="btn btn-success" type="button" onclick='start()'>Start</button>
        </div>
    </div>
</div>

</body>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
<script type="text/javascript" charset="utf-8">
    let socket = io();
    socket.on('connect', function () {
        socket.emit('connected', {data: 'I\'m connected!'});
    });
    socket.on('update', function (data) {
        console.log(data);
        $("#io").text(JSON.stringify(data.data, null, 4))
    });


    function refresh_device() {
        console.log("refresh_device")
        socket.emit("refresh_device")
    }

    function start() {
        console.log("start application")
    }

    function select_device() {
        device_id = $("input[name='device_id']:checked").val()
        console.log("select_device_button clicked..")
        if (device_id != null) {
            socket.emit("set_device_id", {id: device_id})
        }
    }

</script>

</html>
